
.container {
    width: 50%;
    margin: auto;
    height: 150px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.data {
    height: 50px;
}

p {
    text-align: center;
}